.moviesContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.titleSection {
  color: $fontcolor1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
}

