.FirstStepRegisterComponent{
    width: 25rem;
    height: 30rem;
}


.pFormRegUp {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 0;
    font-size: 1.5rem;
    
}

.pFormRegMid{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: gray;
    margin-top: 0.4rem;
}


.propsEmailReg{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: black;
}

.inputFormReg {
    display: flex;
    align-items: center;
    padding-left: 0.4rem;
    width: 30vh;
    height: 4.5vh;
    border: 0.1rem solid $btnred;
    border-radius: 0.2rem;
    color: gray;
    
}


.buttonFormReg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 3.8rem;
    border-radius: 0.2rem;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}