.FirstStepRegisterComponent{
    width: 25rem;
    height: 30rem;
}


.pFormRegUp {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 0;
    font-size: 1.5rem;
    
}

.pFormRegMid{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: gray;
    margin-top: 0.4rem;
}



.spaceReg {
  width: 2rem;
  height: 2rem;
}


.buttonFormReg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 3.8rem;
    border-radius: 0.2rem;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.spacerLogin {
    width: 2px;
    margin-top: $m2;
}