.buttonComponent{
    background-color: $btnred;
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
    color: $fontcolor1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}