.profileModalContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h2{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.lineForm{
    width: 100%;
    border: 0.2px solid #ccc;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.formModal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.messageUpdate{
    font-size: 12px;
    color: red;
    height: 3rem;
}