.configComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 19rem;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: $principalcolor;
  }

.movieData{
  width: 35rem;
  height: 50%;
  display: flex;
  color: $fontcolor1;
  flex-direction: column;
  background-color: $principalcolor;
  border-radius: 5px;
  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  p {
    font-size: 12px;
  }
}

.movieInfo {
  padding: 1rem;
  width: 100%;
}