.configComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 19rem;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: $principalcolor;
    
}

.movieData{
  width: 35rem;
  display: flex;
  color: $fontcolor1;
  flex-direction: column;
  background-color: $principalcolor;
  border-radius: 5px;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 1500;
  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  };
  p {
    font-size: 14px;
  }
}

.movieInfo {
  padding: 1rem;
  width: 100%;
}

.topInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p{
    padding: 0.5rem;
    border-radius: $border-radius;
    font-weight: bold;
    font-size: 1rem;
  }
  .rate{
    background-color: $lable1;
  }
  .releaseDate{
    background-color: $lable2;
  }
  .originalLanguage{
    background-color: $lable3;
  }
}

.bottomInfo{
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: $blacktransparent1;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: 0.3s ease;
  }
  .button:hover{
    background-color: $blacktransparent3;
    transition: 0.3s ease;
  }
}


.label {
  height: 2rem;
  width: auto;
  padding: 0.3rem;
  border-radius: $border-radius;
  border: 1px solid white;
  display: block;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 4em;
  left: 2.5rem;
}

.addList:hover + .label {
  visibility: visible;
  transition: 0.5s ease all;
}

.addCart:hover + .label {
  visibility: visible;
  transition: 0.3s ease all;
}

.like:hover + .label {
  visibility: visible;
  transition: 0.3s ease all;
}

.dislike:hover + .label {
  visibility: visible;
  transition: 0.3s ease all;
}