// Master Container

.registerContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: nth($white , 1 )
}




// Form Container margin-left: 12.1rem;

.superformReg {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding: 3rem;
    width: 40rem;
    height: 90vh;
    border-right: 0.1rem solid grey;
    border-left: 0.1rem solid grey;

}



// Footer Container

.footerReg {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 18vh;
    background-color:whitesmoke;
}

// Footer Up

.footerRegUp {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 5vh;
    font-size: 0.8rem;
}

// Footer Mid

.footerRegMid {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 3vh;
    font-size: 0.8rem;
}

// Footer Down

.footerRegDown {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 3vh;
    font-size: 0.8rem;
}

// P footer

.pReg {
  margin-left: 5rem;
  padding: 0.6rem;
}


.pRegFirst {
    display: flex;
    padding: 1rem;
    margin-left: 4.5rem;
}

.pRegSecond {
    display: flex;
    padding: 0.6rem;
    margin-left: 10.8rem;
}

.pRegThird {
    display: flex;
    padding: 0.6rem;
    margin-left: 8.8rem;
}

.pRegLast {
    margin-left: 5.4rem;
    padding: 0.6rem;
}

