// Master Container

.registerContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: nth($white , 1 )
}

// Super Form Container for All Views;

.superformReg {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding: 3rem;
    width: 40rem;
    height: 90vh;
    border-right: 0.1rem solid grey;
    border-left: 0.1rem solid grey;

}





