.tabNav {
  width: 50%;
  cursor: pointer;
  background-color: red;
  margin-bottom: 1rem;
}

.tab {
  height: 100%;
  width: 15%;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tabInfo{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: white;
  
}