.profileComponent {
    background: black;
    width: 100%;
    color: $fontcolor1;
    padding-top: $p5;
}

.profileBody {
    background-color: #F5F5F5;
    width: 100%;
    color: black;
    height: 70vh;
}

