.profileComponent {
    background: black;
    width: 100%;
    color: $fontcolor1;
    padding-top: $p5;
}

.profileBody {
    background-color: #F5F5F5;
    width: 100%;
    color: black;
    height: 64vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    // justify-content: center;
    h1 {
        border-bottom: 1px solid #282c2d;
        text-align: center;
        font-weight: bold;

    }
}

.profileDetails {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #282c2d;

    img {
        height: 100px;
        margin-bottom: 1rem;
    }
    p {
        font-weight: bold;
    }
}

.profileContainer {
    flex-direction: row;
    margin-top: 3rem;
    justify-content: center;
    p {
        padding: 15px;
        padding-left: 20px;
    }
}

.profilePassword {
    display: flex;
    flex-direction: row;
    p {
        color: gray;
        opacity: 30%;
    }
}

.profileTitle {
    h2 {
        font-size: .7rem;
        font-weight: bold;

    }
}

.profileInfo {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #282c2d;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    h2 {
        color: #d3d3d3;
        font-weight: bolder;
        padding: 15px;
        padding-left: 20px;
        font-size: 1.5rem;
    }
}

.profilePlan {
    flex-direction: row;
    p {
        flex-direction: row;
        color: black;
        }
    span {
        font-weight: bolder;
    }
}

.buttonProfile {
    margin-top: 1rem;
    border-radius: .3rem;
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
    // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonProfile:hover {
    background-color: white;
    color: black;
}

.updateEmail {
    display: flex;
    flex-direction: column;
}