.rentalContainer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  margin: auto 0;
  background-color: nth($white , 1 )
}

.rentalSuperContainer {
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
  margin-left: 5rem;
  width: 70%;
  background-color: white;
  padding: 1rem;
  border: solid 0.1rem lightgray;
  border-radius: 0.2rem;
}

.basketRental {
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
  margin-left: 2rem;
  width: 18rem;
  height: 8rem;
  background-color: yellow;
}