.rentalContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
  margin: auto 0;
  background-color: nth($white , 1 )
}

.rentalSuperMainContainer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin-top: 5rem;
  width: 100%;
  background-color: nth($white , 1 )
  //border-right: 0.1rem solid grey;
 // border-left: 0.1rem solid grey;

}

