@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

.loggedUser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;

}

.profileImg{
    width: 100%;
    border-radius: $border-radius;
}

.arrow{
    color: white;
    position: relative;
    left: 4rem;
    top: 0.3rem;
}

.arrow p {
    color: black;
    position: relative;
    left: 1.8rem;
    bottom: 1.3rem;
    font-weight: bold;
    color: white;
}