.loginComponent{
    background: url(#{$imgpath}netflix-background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // filter: brightness(50%);
}

.inputLogin{
    width: 20rem;
    margin: $m1;
}

.loginBox {
    background-color: $blacktransparent2;
    border-radius: $border-radius;
    height: 35rem;
    width: 28em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}