.loginComponent{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(#{$imgpath}netflix-background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginBox {
    background-color: $blacktransparent2;
    border-radius: $border-radius;
    width: 33em;
    display: flex;
    padding: $p3;
    flex-direction: column;
    margin-top: $m8;
    h3{
        color: $fontcolor1;
        margin-left: $m1;
        font-weight: 700;
    }
}

.inputLogin{
    width: 25rem;
    height: 3.5rem;
    margin: $m1;
    p {
        color: $fontcolor5;
        font-size: 12px;
    }
}

.contentLogin{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: $fontcolor3;
    p{
        margin: 0.5rem;
    }
    a{
        color: $fontcolor1;
    }
}


.spacer {
    height: 5rem;
    width: 100%;
}




