
/////////////

$border-radius : 0.3em;

$transition:(0.2s,0.4s,0.6s,0.8s);


//Color theme

$white :( #ffffff,#f3f3f3, #e8f0fe);
$black :  (#0c0c0c,#515151);
$blacktransparent1 :  #00000050;
$blacktransparent2 : #0c0c0cc2;
$blacktransparent3 : #777777c2;
$principalcolor : #141414;

$lable1: #e87d33;
$lable2: #0f7fe8;
$lable3: #F40612;

$fontcolor1 : #ffffff;
$fontcolor2 : #333333;
$fontcolor3 : #7c7578;
$fontcolor4 : #0f7fe8;
$fontcolor5 : #e87d33;


$btnred : #F40612;
$btngrey1 : (#7c7578, #51515156);

/*Margin*/

$m1 : 1rem;
$m2 : 2rem;
$m3 : 3rem;
$m4 : 4rem;
$m5 : 5rem;
$m6 : 6rem;
$m7 : 7rem;
$m8 : 8rem;
$m9 : 9rem;
$m10 : 10rem;

/*Padding*/

$p1 : 1rem;
$p2 : 2rem;
$p3 : 3rem;
$p4 : 4rem;
$p5 : 5rem;
$p6 : 6rem;
$p7 : 7rem;
$p8 : 8rem;
$p9 : 9rem;
$p10 : 10rem;

/* Image */

$imgpath : "/src/img/";